@charset "utf-8";

/*=================================
# mixins
================================= */
//breakpoints
$breakpoints: (
  'sp': 'screen and (max-width: 425px)',
  'tab': 'screen and (max-width: 768px)',
  'pc': 'screen and (min-width: 769px)'
) !default;

//media queries
@mixin mq($breakpoint: pc) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

/*=================================
# colors
================================= */
$color-text: #222222;
$color-bg-main: #F3EFEB;
$color-bg-sub: #EAE0D5;
$color-footer: #382620;

/*=================================
# fonts
================================= */
$font-ja: 'Noto Serif JP', serif;
$font-en-a: 'Amatic SC', cursive;
$font-en-p: 'Patua One', cursive;
$font-en-d: 'Damion',cursive;

/*=================================
# common
================================= */
body {
  font-size: 16px;
  color: $color-text;
  font-family: $font-ja;
  box-sizing: border-box;
  background: $color-bg-main;
}

section {
  // max-width: 1280px;
  margin: 0 auto;
}

.inner {
  max-width: 1180px;
  margin: 0 auto;

  @include mq('sp') {
    width: 90%;
  }
}

img {
  width: 100%;
}

a {
 color: $color-text;

  &:hover {
    opacity: 0.7;
  }
}

.button {
  margin-top: 60px;
  position: relative;

  @include mq('sp')  {
    left: 50%;
    transform: translateX(-50%);
  }
}

.btn {
  /*影の基点とするためrelativeを指定*/
  position: relative;
  /*ボタンの形状*/
  text-decoration: none;
  display: inline-block;
  text-align: center;
  background: #EAE0D5;
  outline: none;
  /*アニメーションの指定*/
  transition: all 0.2s ease;
  width: 280px;
}

/*hoverをした後のボタンの形状*/
// .btn:hover{
//   border-color:transparent; 
// }

/*ボタンの中のテキスト*/
.btn span {
  position: relative;
  z-index: 2;/*z-indexの数値をあげて文字を背景よりも手前に表示*/
  /*テキストの形状*/
  display: block;
  padding: 25px 30px;
  background:#222;
  color:#fff;
  /*アニメーションの指定*/
  transition: all 0.3s ease;
  font-size: 16px;
  align-items: center;

  i {
    position: absolute;
    right: 15px;
  }
}

/*== 右下に押し込まれる（立体が平面に） */

/*影の設定*/
.pushright:before {
  content: "";
  /*絶対配置で影の位置を決める*/
  position: absolute;
  z-index: 1;
  top: 4px;
  left: 5px;
  /*影の形状*/
  width: 99%;
  height: 98%;
  border-right: 1px solid #222;
  border-bottom: 1px solid #222;
}

/*hoverの際にX・Y軸に4pxずらす*/
.pushright:hover span {
background-color: #222;
color: #fff;
transform: translate(4px, 4px);
opacity: 1;
}

.section__title {
  font-family: $font-en-a;
  font-size: 52px;
  font-weight: bold;
  line-height: calc(66 / 52);
  letter-spacing: 0.2em;
  text-align: center;

  @include mq('sp')  {
    font-size: 40px;
  }

  span {
    font-family: $font-ja;
    font-size: 14px;
    font-weight: bold;
    line-height: calc(19 / 14);
    display: flex;
    flex-direction: column;

    @include mq('sp')  {
      font-size: 12px;
      letter-spacing: normal;
      line-height: calc(16 / 12);
    }
  }
}
/*=================================
# header
================================= */
.header__nav--item {

  a {
    display: flex;
    flex-direction: column;
    color: $color-text;
    text-align: center;
    font-weight: 400;
    text-decoration: none;
    line-height: 1;
    font-family: $font-en-p;
    letter-spacing: 0.12em;
    line-height: calc(21 / 16);

    span {
      font-size: 10px;
      font-family: $font-ja;
      letter-spacing: normal;
      line-height: calc(14 / 10);
    }
  }

  & + & {
    margin-top: 32px;
  }
}

.sns__link--white {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 184px;
  margin: 52px auto 0;

  a {
    color: #fff;
  }
}

/* パソコンで見たときは"pc"のclassがついた画像が表示される */
.pc { display: block !important; }
.sp { display: none !important; }
 
/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
@include mq('sp')  {
  .pc { display: none !important; }
  .sp { display: block !important; }
}
/* drawer
-------------------------------------------------------------*/
.drawer--right .drawer-hamburger {
  right: 10px;
}

.drawer--right.drawer-open .drawer-hamburger {
  right: 10px;
}


.drawer-hamburger {
  position: fixed;
  z-index: 50;
  top: 10px;
  right: 10px;
  display: block;
  box-sizing: content-box;
  width: 2rem;
  padding: 0;
  padding: 18px 0.75rem 30px;
  -webkit-transition: all .6s cubic-bezier(.19,1,.22,1);
  transition: all .6s cubic-bezier(.19,1,.22,1);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  border: 0;
  outline: 0;
  background-color: #382620;
  border-radius: 50%;
}

.drawer-hamburger:hover {
  cursor: pointer;
  background-color: #382620;
}

.drawer-open .drawer-hamburger {
  background-color: #fff;
}

.drawer-hamburger-icon, .drawer-hamburger-icon:after, .drawer-hamburger-icon:before {
  background-color: #fff;
}

.drawer-open .drawer-hamburger-icon::after,
.drawer-open .drawer-hamburger-icon::before {
	background-color: #382620;
}

.drawer-close .drawer-hamburger-icon,
.drawer-close .drawer-hamburger-icon::after,
.drawer-close .drawer-hamburger-icon::before {
	background-color: #fff;
}

.drawer--right .drawer-nav {
  right: -30%;
  -webkit-transition: right .6s cubic-bezier(.19,1,.22,1);
  transition: right .6s cubic-bezier(.19,1,.22,1);

  @include mq('sp')  {
    right: -100%;
  }
}

.drawer-nav {
  position: fixed;
  z-index: 45;
  top: 0;
  overflow: hidden;
  width: 30%;
  height: 100%;
  color: #fff;
  background-color: $color-footer;

  @include mq('sp')  {
    width: 100%;
  }
}

.drawer-brand {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 3.75rem;
  display: block;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 54px;
  width: 120px;

  img {
    width: 120px;
  }
}

.drawer-menu-item {
  display: block;
  padding: 16px 0;
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-family: $font-en-p;
  margin-left: 40px;

  span {
    font-size: 10px;
    font-family: $font-ja;
    margin-left: 10px;
  }
}

.drawer-menu-item:hover {
  text-decoration: none;
  color: inherit;
  background-color: inherit;
}

/*====== 上に消えるアニメ ======*/
#header.UpMove, #HbButton.UpMove{
  animation: UpAnime 0.5s forwards;
}
@keyframes UpAnime{
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100px);
  }
}

/*====== 下に消えるアニメ ======*/
#header.DownMove, #HbButton.DownMove{
  animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime{
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/*=================================
# fv
================================= */
.fv {
  position: relative;
}

.fv::after {
  position: absolute;
  content: "";
  bottom: -60px;
  right: 0;
  background-color: #EAE0D5;
  width: 76.875%;
  height: 398px;
  z-index: 1;

  @include mq('sp')  {
    display: none;
  }
}

.fv__wrap {
  display: flex;
}

.fv__menu {
  flex: 0 0 15.625%;
  padding: 30px 18px 0;

  @include mq('sp')  {
    display: none;
  }
}

.fv__nav--list {
  text-align: center;
}

.fv__nav {
  margin-top: 60px;
}

.fv__nav--item {

  a {
    display: flex;
    flex-direction: column;

    span {
      font-size: 10px;
      margin-top: 5px;
    }
  }

  & + & {
    margin-top: 32px;
  }
}

.sns__link--black {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  margin: 60px auto 0;
}

/* swiper
-------------------------------------------------------------*/
.swiper {
  position: relative;
  z-index: 10;
  height: auto;
}

.swiper-container {
  position: relative;
}

.swiper-sp__logp {
  position: absolute;
  top: 10px;
  left: 14px;
  z-index: 10;
  width: 120px;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-slide {
  /* スライドのサイズを調整、中身のテキスト配置調整、背景色 */
  color: #ffffff;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 300px;
  position: relative;

  @include mq('sp')  {
    line-height: 0;
  }
}

.main__message {
  position: absolute;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  line-height: calc(48 / 20);
  bottom: 60px;
  left: 56px;
  text-align: left;

  @include mq('sp')  {
    top: 130px;
    left: 20px;
  }
}

.pickup-news {
  position: absolute;
  width: 388px;
  height: auto;
  padding: 16px;
  right: 20px;
  bottom: 20px;
  display: flex;
  background-color: #fff;
  z-index: 10;

  @include mq('sp')  {
    bottom: 32px;
    width: 335px;
  }
}

.pickup-news__img {

  img {
    width: 120px;
    height: 120px;
    margin-right: 16px;
  }
}

.pickup-news__contain--text {
  margin-top: 12px;
  font-size: 14px;
  font-weight: bold;
  line-height: calc(24 / 14);
}

.pickup-news__ribbon {
  display: inline-block;
  position: absolute;
  padding: 4px 10px 4px 14px;
  font-size: 12px;/*フォントサイズ*/
  color: #FFF;/*フォントカラー*/
  background: #382620;/*リボンの色*/
  font-weight: bold;
  left: -10px;
  top: 8px;
}

.pickup-news__ribbon:before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 10px transparent;
  border-right: solid 10px #AAAAAA;/*折り返し部分*/
}

.pickup-news__ribbon:after {
  position: absolute;
  content: '';
  z-index: 1;
  top: 0;
  right: -5px;
  width: 0px;
  height: 0px;
  border-width: 10px 5px 10px 0px;
  border-color: #382620 transparent #382620 transparent;
  border-style: solid;
}

.pickup-news__balloon {
  position: absolute;
  top: -80px;
  right: -5px;
  transform: rotate(5deg);

  img {
    width: 160px;
  }
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 15px;
  left: 20px;
  width: 56px;

  @include mq('sp')  {
    bottom: 10px;
  }
}

.swiper-pagination-bullet {
  background-color: #fff;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #D59B71;
}

.coffee-beans_bg {

  @include mq('sp')  {
    position: relative;
    overflow: hidden;
    width: 128px;
    height: 120px;
    top: -19px;
    right: -245px;
    z-index: 20;

    img {
      // width: 145px;
      // height: 130px;
    }
  }
}

/*=================================
# main
================================= */

.main {
  overflow-x: hidden;

  @include mq('sp')  {
    position: relative;
    top: -120px;
  }
}

/* concept
-------------------------------------------------------------*/
.concept {
  padding: 220px 0 240px;
  position: relative;

  @include mq('sp')  {
    padding: 120px 0 190px;
  }
}

.concept--bg {
  position: absolute;
  width: 296px;
  top: 20px;
  right: -30px;
  z-index: 20;
}

.concept__wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  width: 92.968%;
  height: 865px;

  @include mq('sp')  {
    flex-direction: column-reverse;
    width: 100%;
  }

  &:after {
    position: absolute;
    content: "";
    background-color: #EAE0D5;
    width: 100%;
    height: 300px;
    bottom: -13px;
    left: 0;
    z-index: 1;

    @include mq('sp')  {
      width: 90%;
      height: 100px;
      bottom: -67px;
    }
  }
}

.concept__img-box {
  flex: 0 0 45%;
  margin-right: 80px;
  z-index: 10;
  position: relative;
  padding-top: 78.534%;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  @include mq('sp')  {
    margin-top: 80px;
  }
}

.concept__contain {
  padding: 20px 40px 20px 0;
  z-index: 10;

  @include mq('sp')  {
    padding: 20px 20px 0 20px;
  }
}

.concept__contain--title {
  font-family:$font-en-a;
  font-size: 52px;
  font-weight: bold;
  line-height: calc(66 / 52);
  letter-spacing: 0.2em;
  display: flex;
  flex-direction: column;

  span {
    font-family: $font-ja;
    font-size: 14px;
    font-weight: bold;
    line-height: calc(19 / 14);
    letter-spacing: 0;
    margin-top: 5px;

    @include mq('sp')  {
      font-size: 12px;
    }
  }

  @include mq('sp')  {
    font-size: 40px;
    line-height: calc(51 / 40);
  }
}

.concept__contain--main {
  font-size: 28px;
  font-weight: bold;
  line-height: calc(60 / 28);
  margin-top: 62px;

  @include mq('sp')  {
    font-size: 20px;
    line-height: calc(40 / 20);
  }
}

.concept__contain--sub {
  font-size: 14px;
  line-height: calc(28 / 14);
  margin-top: 60px;

  p {
    padding-top: 20px;
  }
}



/* lunch
-------------------------------------------------------------*/
.lunch {
  width: 100vw;
  background-color: #EAE0D5;
  padding: 80px 0;
  position: relative;
}

.coffee-leaves__bg {
  position: absolute;
  width: 201px;
  top: -130px;
  right: -30px;
  z-index: 20;

  @include mq('sp')  {
    width: 119px;
    top: -190px;
  }
}

.lunch__wrapper {
  max-width: 1180px;
  width: 92.187%;
  margin: 57px auto 0;
  padding: 57px 40px 40px; 
  background-color: #FFF;
  position: relative;

  @include mq('sp')  {
    padding: 0 0 40px; 
  }
}

.lunch__wrapper--bg {
  position: absolute;
  width: 300px;
  transform: rotate(4deg);
  top: -56px;
  right: -20px;

  @include mq('sp')  {
    width: 200px;
    top: -245px;
  }
}

.lunch__title {
  font-size: 18px;
  font-weight: bold;
  line-height: calc(24 / 18);
  position: relative;
  background-color: #222;
  color: #fff;
  text-align: center;
  display: inline-block;
  padding: 5px 19px;
  top: -75px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;

  @include mq('sp')  {
    font-size: 14px;
    padding: 7px 21px;
    top: -20px;
  }

  &:before {
    position: absolute;
    content: "";
    border: 18px solid #222;
    border-left-color: transparent;/*山形に切り抜き*/
    left: -18px;
    top: 8px;
    z-index: -1;

    @include mq('sp')  {
      border: 16px solid #222;
      border-left-color: transparent;/*山形に切り抜き*/
      top: 6px;
    }
  }

  &:after {
    position: absolute;
    content: "";
    border: 18px solid #222;
    border-right-color: transparent;/*山形に切り抜き*/
    right: -18px;
    top: 8px;
    z-index: -1;

    @include mq('sp')  {
      border: 16px solid #222;
      border-right-color: transparent;/*山形に切り抜き*/
      top: 6px;
    }
  }
}

.lunch-sets {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
}

.lunch-sets__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.lunch-sets__item {
  width: calc(100% / 4 - 20px * 3 / 4);

  & + & {
    margin-left: 20px;
  }

  &:nth-child(even) {
    margin-top: 40px;
  }

  @include mq('sp')  {
    width: calc(100% / 2 - 20px * 1 / 2);

    &:nth-child(even) {
      margin-top: 0;
    }

    &:nth-child(odd) {
      margin-left: 0;
    }

    &:nth-child(n + 3) {
      margin-top: 20px;
    }
  }
}

.lunch-sets__contain {
  margin-top: 16px;
  display: flex;
}

.lunch-sets__contain--no {
  width: 49px;
  height: 49px;
  background-color: #222;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-family: $font-en-p;
  line-height: calc(43 / 32);

  @include mq('sp')  {
    font-size: 19px;
    width: 24px;
    height: 24px;
    padding: 6px;
  }
}

.lunch-sets__contain--name {
  padding-left: 12px;
  font-size: 18px;
  font-weight: bold;
  line-height: calc(24 / 18);

  @include mq('sp')  {
    font-size: 14px;
  }
}

.lunch-special {
  width: 100%;
  background-color: #F7F6F4;
  padding: 20px 54px;
  margin: 67px auto 0;
  display: flex;
  justify-content: center;

  @include mq('sp')  {
    display: block;
    width: 335px;
    padding: 20px 0;
  }
}

.lunch-special__list {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 700px;
}

.lunch-special__item {
  width: 200px;
  
  img {
    width: 150px;
    height: 145px;
    margin: 0 auto;
    display: flex;

    @include mq('sp')  {
      width: 76px;
      height: auto;
    }
  }
}

.lunch-special__item--menu {
  text-align: center;
  font-weight: bold;
  margin-top: 16px;

  @include mq('sp')  {
    font-size: 12px;
  }
}

.lunch-special__cost {
  width: 253px;
  margin-left: 40px;

  @include mq('sp')  {
    margin: 20px auto 0;
  }
}

.lunch-special__cost--menu {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: bold;
  line-height: calc(27 / 20);
  text-align: right;
  margin-right: 20px;

  @include mq('sp')  {
    font-size: 16px;
    text-align: center;
    line-height: calc(21 / 16);
    margin-right: 0;
  }
}

.lunch-special__cost--price {
  font-size: 60px;
  line-height: calc(80 / 60);
  font-weight: 500;
  text-align: right;
  position: relative;
  padding-bottom: 10px;
  font-family: $font-en-d;

  @include mq('sp')  {
    font-size: 40px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
  }

  span {
    margin-left: 5px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 90%;
    border-bottom: 5px dotted #222;
    bottom: 0;
    left: 0;

    @include mq('sp')  {
      left: 20px;
    }
  }
}

.lunch-special__cost--schedule {
  font-size: 14px;
  font-weight: bold;
  line-height: calc(19 / 14);
  text-align: center;
  margin-top: 8px;

  @include mq('sp')  {
    font-size: 12px;
  }
}

/* grand-menu
-------------------------------------------------------------*/
.grand-menu {
  position: relative;
  padding: 160px 0 109px;


  @include mq('sp')  {
    padding: 120px 0 66px;
  }

  &:before {
    position: absolute;
    content: "";
    background-color: #EAE0D5;
    width: 80%;
    height: 79.318%;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
}

.coffee-leaves2 {
    position: absolute;
    top: -95px;
    left: 30px;
    overflow: hidden;
    width: 266px;

    @include mq('sp')  {
      left: -60px;
      top: -105px;
    }

    img {
    width: 266px;
    height: auto;
  }
}

.grand-menu__wrapper {
  max-width: 1100px;
  width: 85.937%;
  margin: 40px auto 0;
}

.grand-menu__contents {
  & + & {
    margin-top: 100px;

    @include mq('sp')  {
      margin-top: 40px;
    }
  }
}

.grand-menu__contents--title {
  font-size: 24px;
  font-weight: bold;
  line-height: calc(32 / 24);
  border-top: 2px solid #222;
  border-bottom: 2px solid #222;
  width: 100%;
  height: 53px;
  display: flex;
  align-items: center;
  position: relative;

  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    top: 3px;
    background-color: #222;
  }

  &:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    bottom: 3px;
    background-color: #222;
  }
}

.grand-menu__contents--list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
}

.grand-menu__contents--item {
  width: calc(100% / 3 - 36px * 2 / 3);

  @include mq('sp')  {
    width: calc(100% / 2 - 19px * 1 / 2);
  }

  //１番目と３番目+1にだけ左の余白を適用
  &:not(:nth-child(3n + 1)){
    margin-left: 36px;
    
  }

  @include mq('sp')  {
    &:not(:nth-child(3n + 1)){
      margin-left: 0;
    }

    &:not(:nth-child(2n + 1)){
      margin-left: 19px;
    }
  }
  
  //４番目以降に上部の余白を適用
  &:nth-child(n + 4) {
    margin-top: 40px;
  }

  @include mq('sp')  {
    &:nth-child(n + 4) {
      margin-top: 0;
    }

    &:nth-child(n + 3) {
      margin-top: 20px;
    }
  }
}

.grand-menu__contents--img {
  background-color: #fff;
  padding: 8px;
}

.grand-menu__contents--box {
  margin-top: 12px;
}

.grand-menu__contents--box-title {
  font-size: 20px;
  font-weight: bold;
  line-height: calc(27 / 20);

  @include mq('sp')  {
    font-size: 14px;
  }
}

.grand-menu__contents--box-price {
  font-size: 32px;
  font-family: $font-en-d;

  @include mq('sp')  {
    font-size: 24px;
  }
}

.grand-menu__contents--list-drink {
  display: flex;
  margin-top: 24px;

  @include mq('sp')  {
    display: block;
  }
}

.grand-menu__contents--item-drink {
  &:nth-child(2) {
    margin-left: 62px;
  }

  &:nth-child(n + 2) {
    margin-left: 48px;

    @include mq('sp')  {
      margin-left: 0;
    }
  }
}

.drink-img {
  flex: 0 0 343px;
  background-color: #fff;
  padding: 8px;

  @include mq('sp')  {
    display: none;
  }
}

.drink-menus {
  flex: 0 0 18.6%;
}

.drink-title {
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid #222;
}

.drink-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1.7;

  span {
    font-family: $font-en-d;
    font-size: 20px;
  }
}

.grand-menu__btn {
  width: 100%;
  margin: 60px auto 0;
  background-color: transparent;
}

.coffee-beans2 {
  position: absolute;
  right: -133px;
  bottom: -112px;
  width: 389px;

  @include mq('sp')  {
    width: 168px;
    right: -36px;
    bottom: -96px;
  }
}

/* gallery
-------------------------------------------------------------*/
.gallery {
  padding: 86px 90px 74px 90px;
  background-color: $color-bg-sub;
  margin-top: 160px;

  @include mq('sp')  {
    padding: 60px 20px 100px 20px;
  }
}

.gallery__title {
  position: relative;

  &:after {
    position: absolute;
    content: "";
    background: url(../img/top-img/img_balloon-gallery.png) no-repeat center center / contain;
    top: -107px;
    left: 285px;
    width: 265px;
    height: 138px;
  }
}

.gallery__wrapper {
  max-width: 1100px;
  width: 85.937%;
  margin: 40px auto 0;
}

.gallery__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.gallery__item {
  width: calc(100% / 4 - 24px * 3 / 4);

  & + & {
    margin-left: 24px;
  }


  @include mq('sp')  {
    width: calc(100% / 2 - 19px * 1 / 2);

    & + & {
      margin-left: 0;
    }

    &:not(:nth-child(2n + 1)){
      margin-left: 19px;
    }

    &:nth-child(n + 3) {
      margin-top: 19px;
    }
  }
}

/* news
-------------------------------------------------------------*/
.news {
  padding: 120px 0;
  
}

.news__wrapper {
  max-width: 1100px;
  width: 85.937%;
  margin: 40px auto 0;
  display: flex;
  justify-content: center;
}

.news__main {
  max-width: 518px;
  width: 100%;

  img {
    width: 98.455%;
    height: 319px;
    margin-left: 6px;
  }
}

.news__title {
    margin-top: 16px;
    font-size: 20px;
    font-weight: bold;
  }

  .news__text {
    margin-top: 14px;
    font-size: 14px;
  }

  .news__date {
    margin-top: 14px;
    font-size: 14px;
  }

.news__sub {
  margin-left: 30px;
}

.news__sub-list {
  display: flex;
  align-items: center;
  justify-content: center;

  & + & {
    margin-top: 32px;
  }
}

.news__sub-item {

    & + & {
      margin-left: 34px;
    }
}

/* access
-------------------------------------------------------------*/
.access {
  background-color: #EAE0D5;
  margin-top: 50px;
  padding: 80px 0;
}

.access__wrapper {
  max-width: 688px;
  width: 85.937%;
  margin: 40px auto 0;
}

.gm-style .place-card, .gm-style .default-card, .gm-style .directions-card {
  cursor: default;
  display: none;
}

.gmnoprint gm-bundled-control gm-bundled-control-on-bottom {
  display: none;
}